@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "SF UI Display Medium";
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
}

@font-face {
  font-family: "SF UI Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Medium"),
    url("./fonts/sf-ui-display-medium.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"),
    url("./fonts/sf-ui-display-bold.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Thin";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"),
    url("./fonts/sf-ui-display-light.woff") format("woff");
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.react-grid-item {
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-grid-item .text {
  font-size: 2em;
}

.box {
  border-radius: 25px;
  /* background: radial-gradient(
    78.18% 288.23% at -19.27% -180.08%,
    #41a6e1 0%,
    #1a1a1a 95.72%
  ); */
}

.color {
  background-color: red;
}

.coin-header {
  padding: 30px 30px 0px 30px;
  display: flex;
  gap: 24px;
  align-items: center;
}

/* .coin-header .logo {
  height: 60px;
  width: 60px;
  background-color: #38b5dc;
  border-radius: 50%;
} */

.coin-info .coin-name {
  font-size: 30px;
  font-family: "SF UI Display Bold";
  font-weight: normal;
}

.coin-info .coin-market {
  color: #9e9e9e;
  font-family: "SF UI Display Medium";
  font-weight: 200;
}

/* .coin-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
} */

.coin-price {
  text-align: center;
}

.coin-price .price {
  /* font-size: 90px; */
  font-family: "SF UI Display Bold";
  font-weight: normal;
}

.coin-price .percent {
  font-family: "SF UI Display Medium";
  /* color: #35d03b; */
  font-size: 25px;
}

.coin-price .percent span {
  font-family: "SF UI Display Thin";
  /* color: #217c24; */
  font-size: 25px;
  font-weight: 200;
}

/* .BinanceCoins:before {
  content: 'Binance';
  position: absolute;
  text-transform: uppercase;
  transform: rotate(45deg);
  left: 5px;
  bottom: 25px;
  font-weight: bold;
  color: #4338ca;
  opacity: 0.5;
  z-index: -1;
} */

/* .ByBitCoins:before {
  content: 'ByBit';
  position: absolute;
  text-transform: uppercase;
  transform: rotate(45deg);
  left: 5px;
  bottom: 25px;
  font-weight: bold;
  color: #ca3852;
  opacity: 0.5;
  z-index: -1;
} */

/* .item {
  background: rgb(140, 196, 20);
  background: rgba(34, 32, 32, 0.8141850490196079) 30%;
} */

.coin-price {
  font-size: clamp(20px, 2vw, 90px);
}

.react-resizable-handle {
  opacity: 0;
}

.react-resizable-handle::after {
  height: 33px !important;
  width: 33px !important;
  opacity: 0;
  /* transform: scale(1.2) !important; */
}

.box::after {
  content: url("./assets/svg/Group\ 4.svg");
  position: absolute;
  bottom: 10px;
  right: 10px;
  pointer-events: none;
}

.selectLayout .box::after {
  content: "";
}

.selectLayout {
  background-color: rgb(143, 143, 143);
}

.selectLayout .item {
  background-color: rgb(37, 35, 35);
}
